@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
li{

    display:inline-block;
    text-align: center;
    margin:15px;
   color: rgb(3, 1, 1);
    text-decoration: none;
    font-family: 'Inconsolata', monospace;
    font-size: large;

}
.Navbar{
    color: black;
    background-color: white;
}