@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
li {
  display: inline-block;
  text-align: center;
  margin: 20px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-family: "Inconsolata", monospace;
  font-size: large;
}


#titulo {
  color: rgb(255, 157, 0);
  font-family: "Combo", cursive;
  font-size: xx-large;
  margin-left: 10px;
  letter-spacing: 3px;
}


.navbar-collapse {
  flex-basis: 100%;
  align-items: center;
}