
@import url('https://fonts.googleapis.com/css2?family=Combo&family=Inconsolata&display=swap');
.App {
  text-align: center;
}


.App-header {
  background-image: url("npmhttps://img.freepik.com/vector-gratis/fondo-acuarela_220290-40.jpg?w=996&t=st=1662594929~exp=1662595529~hmac=1e8e1936f3d2623c198b2833b05aee1ef117cc20fc67abff1e4c25ca513ba460");
background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: grey;
  font-family: 'Combo', cursive;
 
}

.App-link {
  color: #61dafb;
}

