.productos {
    grid-area: productos;
   ;
}
#cardchica{
    width: auto;
}
@media(max-width:768px) {
    #grilla {
        display: grid;
        grid-template-areas:

            "productos productos";

        grid-template-columns:auto;
        grid-template-rows: auto;
        justify-content: space-around;
    
        margin-left: 150px;
    }
}

@media(max-width:420px) {
    #grilla {
        display: grid;
        grid-template-areas:

            "productos ";

        grid-template-columns:auto;
        grid-template-rows: auto;
        justify-content: space-around;
    
    margin: auto;
    }
}